<% provide :title, t(".about") %>
<h1> <%= t ".about" %> </h1>
<p>
  <%= t ".the" %> <%= link_to t(".ruby"), Settings.link_rails_tut %> <%= t ".is_a" %>
  <%= link_to t(".book"), Settings.link_rails_tut %> <%= t ".and" %>
  <%= link_to t(".screencast series"), Settings.link_rails_tut %>
  <%= t ".to_teach" %>
  <%= link_to "Ruby on Rails", Settings.link_rails_tut %>
  <%= t ".this_is" %>
</p>
