<% provide :title, t(".contact") %>
<%= link_to t(".en"), locale: Settings.en %>
<%= link_to t(".vi"), locale: Settings.vi %>
<h1><%= t(".contact") %></h1>
<p>
  <%= t(".ctror") %> <%= link_to t(".cp"), Settings.ct %>
</p>
